@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../assets/font/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/font/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Leelawadee;
  src: url(../assets/font/Leelawadee/leelawdb.ttf);
}
