.home-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-gap: 5rem;
  font-family: 'Roboto';
  font-size: 20px;
  color: #627791;
}

.home-left-header,
.home-right-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

i {
  margin-left: 1rem;
}

.home-left-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.home-left-body img {
  width: 340px;
  height: 260px;
}

.home-right-card {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 1px 2px 22px -15px rgba(17, 99, 146, 0.75);
  margin: 0.8rem 0;
}

.home-right-card h1 {
  font-size: 24px;
}

.home-right-card h2 {
  font-size: 11px;
}

.home-right-card h3 {
  font-size: 15px;
}

.home-right-card img {
  width: 80px;
  height: 80px;
}

.home-left-footer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 2rem;
}

.home-left-footer-right div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.home-left-footer-right img {
  width: 440px;
  height: 215px;
}

.recent-playing {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.4fr;
  grid-gap: 2rem;
  margin-top: 1rem;
}

.home-left-footer-left-title {
  margin-bottom: 1rem;
}

.recent-playing img {
  width: 75px;
  height: 60px;
}

.premiere-movie-name {
  font-family: 'Roboto-Medium';
  font-size: 24px;
}

.premiere-date {
  font-size: 15px;
}
